/* Colors container (hidden by default) */
.colorsSlector {
    background-color: rgb(86, 86, 80);
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: opacity 0.3s;
    margin: 1rem auto 0 auto;
    width: 80%;
    border-radius: 5px;
  }
  
  /* Circle for each color option */
  .colorCircle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: gray;
    margin: 5px;
  }
  
  .colorCircle:hover {
    transform: scale(1.2);
  }
  
 /* Dynamic background colors */
 .red {
  background-color: #ffcccb;
}

.blue {
  background-color: #add8e6;
}

.green {
  background-color: #c6f6c6;
}

.yellow {
  background-color: #ffffcc;
}

  